/* Estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #da9202;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

h2.title {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.title span {
  color: #da9202;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #da9202;
  transform: scale(1.1);
}

/* estilo do cabeçalho */
header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #8a8989;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.1);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

/* Estilo do menu mobile */
/* para nao abir no pc */
.btn-abrir-menu {
  display: none;
}

.btn-abrir-menu i {
  color: #da9202;
  font-size: 40px;
}

.menu-mobile {
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile .btn-fechar {
  padding: 20px 6%;
}

.menu-mobile .btn-fechar i {
  color: #da9202;
  font-size: 60px;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.overlay-menu {
  background-color: #00000069;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

.menu-mobile nav ul li a:hover {
  background-color: #da9202;
  color: #000;
}

/* estilo do topo do site */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #da9202;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

/* botoes sociais rodape */
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #da9202;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
  }

/* estilo do rodape */

footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff17;
}

footer .flex {
  /* so funciona com display flex a space-between */
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #da9202;
}

footer .line-footer p i {
  color: #da9202;
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
  margin-left: 10px;
}

footer .titulo-links {
  color: #fff;
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
  margin-top: 24px;
}

footer .links-rapidos nav ul li a {
  color: #fff;
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

@media screen and (max-width: 1020px) {
  .btn-abrir-menu {
    display: block;
  }

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* classes gerais */
  .flex {
    flex-direction: column;
  }

  h2.title {
    font-size: 34px;
    line-height: 30px;
  }

  /* .topo-do-site .flex {
      flex-direction: 
    } */

  .video-1 {
    width: 100%;
  }

  /* cabeçalho */
  .menu-desktop,
  btn-contato {
    display: none;
  }

  /* topo do site (dica oq vc nao modifica voce apaga)*/
  section.topo-do-site .flex {
    gap: 40px;
  }

  section.topo-do-site {
    padding: 20px 8%;
  }

  .topo-do-site h1 {
    font-size: 30px;
  }

  .topo-do-site .img-topo-site img {
    width: 100%;
  }

  /* rodapé  */
  footer .flex {
    flex-direction: column;
  }

  footer .line-footer {
    text-align: center;
  }
}
